* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;

    background: #f4f7fb;

    color: #111827;

    line-height: 1.6;
}


/* HEADER */

header {
    background: #111827;

    color: white;

    min-height: 70px;

    padding: 0 7%;

    display: flex;

    justify-content: space-between;

    align-items: center;
}


.logo {
    font-size: 22px;

    font-weight: bold;
}


.logo i {
    margin-right: 8px;
}


nav {
    display: flex;

    gap: 25px;
}


nav a {
    color: white;

    text-decoration: none;

    font-weight: bold;
}


nav a:hover {
    color: #60a5fa;
}


/* QUIZ HEADER */

.quiz-header {
    background:
        linear-gradient(135deg, #2563eb, #1d4ed8);

    color: white;

    text-align: center;

    padding: 65px 20px;
}


.quiz-header span {
    font-size: 14px;

    font-weight: bold;

    letter-spacing: 2px;
}


.quiz-header h1 {
    font-size: 42px;

    margin: 10px 0;
}


.quiz-header p {
    font-size: 18px;
}


/* QUIZ */

.quiz-container {
    width: 90%;

    max-width: 850px;

    margin: 50px auto;
}


.question-card {
    background: white;

    padding: 30px;

    margin-bottom: 25px;

    border-radius: 15px;

    box-shadow:
        0 5px 18px rgba(0, 0, 0, 0.08);
}


.question-card h2 {
    color: #2563eb;

    margin-bottom: 15px;
}


.question-card p {
    font-size: 18px;

    margin-bottom: 20px;
}


.question-card label {
    display: block;

    background: #f8fafc;

    padding: 12px 15px;

    margin: 10px 0;

    border-radius: 8px;

    cursor: pointer;

    transition: 0.2s;
}


.question-card label:hover {
    background: #eff6ff;
}


.question-card input {
    margin-right: 10px;
}


/* BUTTON */

.submit-btn {
    display: block;

    width: 100%;

    padding: 15px;

    border: none;

    border-radius: 8px;

    background: #2563eb;

    color: white;

    font-size: 17px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}


.submit-btn:hover {
    background: #1d4ed8;

    transform: translateY(-2px);
}


/* RESULT */

#result {
    margin-top: 25px;

    padding: 20px;

    border-radius: 10px;

    text-align: center;

    font-size: 20px;

    font-weight: bold;
}


/* FOOTER */

footer {
    background: #111827;

    color: white;

    text-align: center;

    padding: 25px;
}


footer p {
    margin: 0;
}


/* MOBILE */

@media (max-width: 700px) {

    header {
        padding: 15px 5%;

        flex-direction: column;

        gap: 15px;
    }


    nav {
        gap: 15px;

        flex-wrap: wrap;

        justify-content: center;
    }


    .quiz-header {
        padding: 50px 20px;
    }


    .quiz-header h1 {
        font-size: 30px;
    }


    .quiz-container {
        width: 92%;

        margin: 30px auto;
    }


    .question-card {
        padding: 22px;
    }
}